



body {
	background: linear-gradient(45deg, blue, limegreen);}


#greencircle {
	width: 200px;
	height: 200px;
	background-color: lightgreen;
	border-radius: 50%;

	position: absolute;
	top: 700px;
	left: 1050px;
	box-shadow: 50px 50px 10px black;
	background: radial-gradient(circle, green, greenyellow);
}


#orangecircle {
	width: 300px;
	height: 300px;
	background-color: orange;
	border-radius: 50%;

	position: absolute;
	top: 500px;
	left: 150px;
	box-shadow: 50px 50px 10px black;
	background: radial-gradient(circle, yellow, orangered);
}

#shadow {
	background-color: black;
	height: 300px;
	background: red;
	border-radius: 50%;
}

#greenoval {
	width: 550px;
	height: 300px;
	background-color: lightgreen;
	border-radius: 50%;

	position: absolute;
	top: 700px;
	left: 550px;
	box-shadow: 50px 50px 10px black;
	background: radial-gradient(circle, green, greenyellow);

}


#purplesquare {
	width: 400px;
	height: 300px;
	background-color: lightpurple;
	border-radius: 30%;

	position: absolute;
	top: 400px;
	left: 500px;
	box-shadow: 50px 50px 10px black;
	background: radial-gradient(circle, lavender, purple);
}


#purpleoval {
	width: 400px;
	height: 100px;
	background-color: purple;
	border-radius: 50%;

	position: absolute;
	top: 400px;
	left: 500px;
	box-shadow: 50px 50px 10px black;
	background: radial-gradient(circle, lavender, purple;
}


